* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* General */

.cabeza {
    background-color: #E1E6C6;
    height: 10vh;
}

.logoEcheveria {
    width: 23%;
}

.cabeza div button {
    background-color: #A3AF9C;
}

.cabeza div div ul li {
    background-color: #A3AF9C;
    border: 1px outset #1A1A1A;
    border-radius: 10%;
    padding: 0.5rem;
    margin: 0rem 0.2rem;
    transition: all 1.5s;
}

.cabeza ul li a {
    text-decoration: none;
}

.cabeza ul li:hover {
    background-color: #D9C6E6;
}

.cabeza ul li ul li:hover {
    background-color: #D9C6E6;
}


.imagenFondo {
    background-image: url(../media/backgroundLila.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    background-color: #afc073;
    text-align: center;
}

h2{
    background-color: #a3af9c98;
    text-align: center;    
}
.footer{
    display: flex;
    width: 100%;
    padding:0%;
    background-color:#E1E6C6; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.contenedorFooter{
    display: flex;
    width: 100%;
    background-color:#E1E6C6;
    padding: 1rem;
   
    
}
.fila{
    display: flex;
    flex-direction: row;
}
.footerCol1{
    margin: 1rem 7rem 1rem 7rem;
    align-content: center;

}
.footerCol2{
    margin-bottom: 1rem 14rem 1rem 14rem;
}

.footerCol3{
    margin:1rem 14rem 1rem 14rem;
    
}
.footerCol4{
    margin:1rem 14rem 1rem 14rem;  
}
.enlace{
    text-decoration: none;
    color: #1A1A1A;
}
.logoFacebook:hover{
    background-color:#0000ff;    
}
.logoInstagram:hover{
    background-color:#ffa500;    
    
}
.logoWhatsapp:hover{
    background-color:#008000;    
}
.logochat:hover{
    background-color:#ff0000;    
}
.logoquestion:hover{
    background-color:#ee82ee;    
}
.enlace img{
    margin: 0.2rem;
}
ul{
    list-style-type: none;
}

/* Nosotros */

.degradado {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: medium;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.3rem;
}

.contenedorNosotros {
    display: flex;
    justify-content: center;
}

.caja {
    width: 52rem;
    margin: 1rem 1rem;
    border: 0.1rem solid black;
    border-radius: 1.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.resaltar {
    background-color: white;
    border-radius: 15px;
    font-weight: bold;
}

.resaltar:hover {
    background-color: #F1F7F7; 
}

/* Media querys */

@media only screen and (max-width: 426px) {
    .contenedorNosotros {
        display: flex;
        flex-wrap: wrap;
    }
};

@media only screen and (max-width: 769px) {
    .contenedorNosotros {
        flex-wrap: nowrap;
    }
};

