* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* header */

.cabeza {
    background-color: #E1E6C6;
    height: 10vh;
}

.logoEcheveria {
    width: 23%;
}

.cabeza div button {
    background-color: #A3AF9C;
}

.cabeza div div ul li {
    background-color: #A3AF9C;
    border: 1px outset #1A1A1A;
    border-radius: 10%;
    padding: 0.5rem;
    margin: 0rem 0.2rem;
    transition: all 1.5s;
}

.cabeza ul li a {
    text-decoration: none;
}

.cabeza ul li:hover {
    background-color: #D9C6E6;
}

.cabeza ul li ul li:hover {
    background-color: #D9C6E6;
}

/* General */

.imagenFondo {
    background-image: url(../media/backgroundLila.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    background-color: #afc073;
    text-align: center;
}

h2{
    background-color: #a3af9c98;
    text-align: center;    
}

/* Nosotros */

.degradado {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: medium;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
}

.contenedor {
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
}

.caja {
    width: 52rem;
    margin: 1rem 1rem;
    border: 0.1rem solid black;
    border-radius: 1.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.resaltar {
    background-color: white;
    border-radius: 15px;
    font-weight: bold;
}

.resaltar:hover {
    background-color: #F1F7F7; 
}

/* Media querys */

@media only screen and (max-width: 426px) {
    .contenedor {
        display: flex;
        flex-wrap: wrap;
    }
    /* .caja{
        width: 90vw;
    } */
};

@media only screen and (max-width: 769px) {
    .contenedor {
        flex-wrap: nowrap;
    }
};

